<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<header>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid" style="background-color: #282828">
            <h4>
                <form class="navbar-form navbar-left">
                    <strong><span style="color: white" th:text="${email}">VALUE</span></strong>
                    <span style="color: white" th:text="${' with roles: ' + roles}">VALUE</span>
                </form>
            </h4>
            <div class="nav navbar-nav navbar-right">
                <form action="/logout">
                    <button style="color: gray" type="submit" class="btn btn-link">Logout</button>
                </form>
            </div>
        </div>
    </nav>
</header>

<!--<header>-->
<!--    <hr>-->
<!--    <br>-->
<!--    <form th:action="@{/logout}" th:method="POST">-->
<!--        <button class="btn btn-outline-primary">-->
<!--            <input th:type="submit" th:value="Logout"/>-->
<!--        </button>-->
<!--    </form>-->
<!--    <br>-->
<!--    <hr>-->
<!--    <br>-->
<!--</header>-->
<main>

</main>

<form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}" class="form-group">
    <div class="form-group">
        <label for="username">Enter login:</label>
        <input type="text" th:field="*{username}" id="username"/>
        <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Login</div>
    </div>
    <br>
    <div class="form-group">
        <label for="name">Enter name: </label>
        <input type="text" th:field="*{name}" id="name"/>
        <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    </div>
    <div class="form-group">
        <label for="surname">Enter surname: </label>
        <input type="text" th:field="*{surname}" id="surname"/>
    </div>
    <br>
    <div class="form-group">
        <label for="email">Enter e-mail:</label>
        <input type="text" th:field="*{email}" id="email"/>
        <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
    </div>
    <br>
    <input type="submit" value="Update!" class="btn btn-info"/>
</form>


<form th:method="DELETE" th:action="@{{id}(id=${user.getId()})}">
    <input type="submit" value="Delete" class="btn btn-danger" style="width: 200px;"/>
</form>

</body>
</html>
